.main-header{
    background-color: #a5d4d4;
    position: sticky;
    top: 0;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    padding:15px 30px;
    margin: 0;
}
.nav-link li{
    list-style: none;
}
.nav-link li a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
}   
.nav-link li a.active{
    color: #9768c4;
    font-size: 20px;
}